<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-isdevoured="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}NOT DEVOURED!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
